body{
  background-color: black;
  width: 100%;
}
  nav{
    background-color:#F8E408;
    color:black;
    width: 100%;
    text-align: center;
    column-rule-color: white;
    font-size: 20px;
  }

  #namesquare{
    background-color: #E20F84;
    height: 20em;
    width: 100%;
    left: 0;
    right: 0;
  }

  /*#namesquare{
    background-color: #E20F84;
    height: 20em;
    width: 100%;
    left: 0;
    right: 0;
  }*/
  #namesquare img{
    height: 20em;
    width: 40%;
  }

h1{
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 50px;
}




table{
  margin-top: 3.14em;
  color: #E20F84;
  text-align: center;
  margin-bottom: 3.14em;

  /*position: absolute;*/
  margin: 0;
  width: 80%;
}

table img{
  height: 12.5em;
  width: 6.5em;
  /*position: relative;*/
}
@media only screen and (min-width:768px) {
    table img {
        height: 12.5em;
        width: 12.5em;
    }
}
