body{
  background-color: black;
}
  nav{
    background-color:#F8E408;
    color:black;
    width: 100%;
    text-align: center;
    column-rule-color: white;
    font-size: 20px;
  }

  #namesquare{
    background-color: #E20F84;
    height: 350px;
    width: 100%;
  }

  #namesquare img{
    height: 350px;
    width: 40%;
  }

h1{
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 50px;
}

table{
  margin-top: 50px;
  color: #E20F84;
  text-align: justify;
  margin-bottom: 50px;
}
span{
  color:#F8E408;
}

table img{
  height: 200px;
  width: 200px;
}

img{
  width: 80%;
}
#contact nav a{
  color:black;
}
#contact{
  text-align: center;
  width: auto;
  font-size: 20px;
  color:#F8E408;
  background-color: black;
  height: 100%;
}

#contact #social{
  border: #F8E408 3px dashed;
  background-color:#E20F84;
  font-size: 20px;
  opacity: .80;
  width: 500px;
  /*margin-left:700px;*/
  height: 575px;
  margin-top: 100px;
}
#contact #social b{
  font-size: 30px;
}
#contact #social a{
  color: white;
  font-size: 25px;
}
#contact #social a:link{
  color: white;
}

#contact #social ul{
  margin-top: 15px;
}
#contact #hours{
  margin-bottom: 25px;
}
