body{
  background-color: black;
  width: 100%;
}
  nav{
    background-color:#F8E408;
    color:black;
    width: 100%;
    text-align: center;
    column-rule-color: white;
    font-size: 20px;
  }

  #namesquare{
    background-color: #E20F84;
    height: 20em;
    width: 100%;
  }

  #namesquare img{
    height: 20em;
    width: 50%;
  }

h1{
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 50px;
}

table{
  margin-top: 3.14em;
  color: #E20F84;
  text-align: center;
  margin-bottom: 3.14em;
  /*width: 100%;*/
  /*position: absolute;*/
  margin: 0;
}

span{
  color:#F8E408;
}


img{
  width: 80%;
}
